@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 120 7% 8%;
    --foreground: 120 15% 86%;
    --card: 120 5% 12%;
    --card-foreground: 120 15% 86%;
    --popover: 120 5% 12%;
    --popover-foreground: 120 15% 86%;
    --primary: 120 40% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 120 5% 20%;
    --secondary-foreground: 120 15% 86%;
    --muted: 120 5% 25%;
    --muted-foreground: 120 10% 60%;
    --accent: 120 40% 45%;
    --accent-foreground: 0 0% 8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 22%;
    --input: 120 5% 18%;
    --ring: 120 40% 45%;
    --chart-1: 120 40% 50%;
    --chart-2: 120 35% 40%;
    --chart-3: 120 30% 35%;
    --chart-4: 120 25% 30%;
    --chart-5: 120 20% 25%;
    --sidebar-background: 120 7% 8%;
    --sidebar-foreground: 120 15% 86%;
    --sidebar-primary: 120 40% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 120 35% 40%;
    --sidebar-accent-foreground: 120 15% 86%;
    --sidebar-border: 120 5% 22%;
    --sidebar-ring: 120 40% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
  #__next {
    @apply h-full;
  }
}
